* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background-color: #f1f1f1;
}
.root {
	width: 100%;
	height: 100vh;
	font-family: 'Kanit';
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
}

.header1 {
	display: flex;
	justify-content: center;

	font-size: 1.1rem;
	font-weight: 500;	
	margin-left: 5rem;
}
.header2 {
	width: auto; /* 410px */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-right: 6rem;
}
.lupe {
	width: 1.2rem;
	margin-right: 0.5rem;
}
.header2_last {
	padding: 10px 12px;
	cursor: pointer;
	font-size: 0.9rem;
	font-family: 'Inter';
	font-weight: 500;
	border-radius: 100px;
	background-color: rgba(8, 30, 52, 0.12);
}


main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-evenly;
	padding: 2rem;	
}

.info {
	width: 31rem;
	height: 23rem;

	margin-top: 8rem;
}
.info h2 {
	font-size: 3.5rem;
	font-weight: 700;
}
.info p {
	font-size: 1rem;
	font-weight: 500;
	margin-top: 2rem;
}
.info_button {
	width: 9rem;
	height: 3rem;
	padding: 1rem 1.5rem;

	border-radius: 100px;
	border: none;
	color: #fff;
	background-color: #712FFF;

	margin-top: 3rem;
	font-family: 'Inter';
	cursor: pointer;
}

.image {
	width: 38.5rem;
	height: 26.25rem;
	margin-top: 6.25rem;
	margin-left: 10.3rem;
}

.top {
	background-color: #E1DEE7;
	border-radius: 32px;
	height: 90%;
	margin-top: 100px;
}

.second_info {
	background-color: #E1DEE7;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;

	padding-top: 6.4rem;
}
.second_info h2 {
	background-color: #E1DEE7;	
	font-size: 3.4rem;
	font-weight: 700;
	font-family: 'Kanit';
}
.second_info p {
	background-color: #E1DEE7;	
	font-size: 0.75rem;
	font-family: 'Inter';
	font-weight: 400;
}
.bottom {
	background-color: #E1DEE7;	
	height: 43%;
}

.list {
	margin-top: 5.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 5rem;
	margin-right: 5rem;
	background-color: #E1DEE7;	
}
.list h2{
	margin-top: 3rem;
	font-weight: 700;
	font-family: 'Inter';
	font-size: 1.5rem;
	background-color: #E1DEE7;	
}
.list p {
	margin-top: 1.5rem;
	font-weight: 500;
	font-family: 'Inter';
	font-size: 1rem;	
	background-color: #E1DEE7;	
}
.list img {
	background-color:#E1DEE7;
}
.list div {
	background-color: #E1DEE7;
}

.gg {
	height: 50%;
	position: relative;
}
.inside {
	margin-top: 6rem;
	width: 50%;
	height: 52%;
	margin-left: 5rem;
}
.inside h2 {
	font-weight: 700;
	font-family: 'Kanit';
	font-size: 3.4rem;
}
.inside p {
	font-weight: 500;
	font-family: 'Inter';
	font-size: 1rem;	
	margin-top: 2rem;
	margin-bottom: 2rem;	
}

.search {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.search input {
	width: 25rem;
	height: 2.5rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	font-size: 1rem;
	outline: none;
	padding-left: 50px;

	height: 50px;
	width: 619px;
}
.search input::placeholder {
	color: #ccc;
}

.searchIcon {
  	position: absolute; 
  	width: 1.5rem;
  	margin-left: 13px;
}

.searchButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	text-align: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	border-radius: 100px;
	border: none;
	margin-left: 2rem;
	
	color: #fff;
	background-color: #712FFF;
	font-family: 'Inter';
	cursor: pointer;
}

.final {
	width: -webkit-calc(100% - 80px);
	height: 76%;
	display: flex;
	flex-direction: row;
	padding-top: 64px;
	padding-left: 80px;
}

.finalInfo {
	width: 495px;
	height: 214px;
	margin-left: 128px;
	margin-top: 103px;
}
.finalInfo h2 {
	font-weight: 600;
	font-family: 'Kanit';
	font-size: 3.4rem;
}
.finalInfo p {
	font-weight: 500;
	font-family: 'Inter';
	font-size: 1rem;	
	margin-top: 2rem;
	margin-bottom: 2rem;	
}
.finalImg {
	width: 619px;
	height: 420px;
}
.finalButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 114px;
	cursor: pointer;
}

.aboutUs {
	width: 100%;
	height: 24%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #fff;
}
.list1 {
	width: 1280px;
	height: 38px;
	display: flex;
	align-items: center;
	flex-direction: row;

	margin-top: 32px;
	margin-left: 80px;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	gap: 16px;
	background-color: #fff;
}
.list1 p {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}
.list1 img {
	width: 24px;
	background-color: #fff;
}
span {
	color: #839099;
	margin-left: 89px;
	background-color: #fff;
}

.nfac {
	margin-top: 32px;
	margin-left: 1088px;
	width: 272px;
	height: 38px;
	background-color: #fff;
}


@media (max-width: 480px) {
	* {
		margin: 0px;
		padding: 0px;
	}
	.root {
		width: 315%;
		min-height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	header {
		width: 100%;
		justify-content: space-between;
		margin-top: 60px;
	}
	.header1 p {
		font-size: 50px;
	}
	.lupe {
		width: 60px;
	}
	.header2_last {
		height: 50px;
		font-size: 40px;
		text-align: center;
		text-justify: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 25px;
		padding-right: 25px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.invise {
		visibility: hidden;
	}
	.main {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.info {
		align-items: center;
	}

	.image {
		width: 95%;
		height: auto;
		margin-left: 3%;
	}
}